<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">
  <table>
    <tr>
      <td><a href="../home.html" th:href="@{/home}" th:text="#{header.home}">홈</a></td>
      <td><a href="../codeGroup/list.html" th:href="@{/codeGroup/list}" th:text="#{header.codeGroup}">코드 그룹 관리</a></td>
      <td><a href="../codeDetail/list.html" th:href="@{/codeDetail/list}" th:text="#{header.codeDetail}">코드 관리</a></td>
      <td><a href="../user/list.html" th:href="@{/user/list}" th:text="#{menu.user.admin}">회원 관리</a></td>
    </tr>
  </table>
</div>
</body>
</html>