<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_template}"
>
<head>
  <meta charset="UTF-8">
  <title>CodeGroup</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div layout:fragment="content">
  <h2 th:text="#{codegroup.header.list}"> 코드그룹 목록</h2>
  <a href="register.html" th:href="@{/codeGroup/register}" th:text="#{action.new}">새로 만들기</a>
  <table border="1">
    <tr>
      <td width="160" th:text="#{codegroup.groupCode}">그룹코드</td>
      <td width="160" th:text="#{codegroup.groupName}">그룹 명</td>
      <td width="180" th:text="#{codegroup.regdate}">등록일시</td>
    </tr>
    <tr th:if="${#lists.isEmpty(list)}">
      <td colspan="3" th:text="#{common.listEmpty}"></td>
    </tr>
    <tr th:each="codeGroup :${list}">
      <td th:text="${codeGroup.groupCode}">코드 그룹코드</td>
      <td ><a href="read.html" th:href="|/codeGroup/read?groupCode=${codeGroup.groupCode}|" th:text="${codeGroup.groupName}"></a></td>
      <td th:text="${#temporals.format(codeGroup.createDate, 'yyyy-MM-dd HH:mm')}">${#dates.format(codeGroup.createDate, 'yyyy-MM-dd HH:mm')</td>
    </tr>
  </table>

  <script th:inline="javascript">
    let result=[[${msg}]];
    if(result === "SUCCESS"){
      alert([[#{common.processSuccess}]]);
    }else if(result!=null){
      alert(result);
    }
  </script>
</div>
</body>

</html>